<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAP2SjChj5FSzEofGDE4_cXUPW5n27_16w</string>
	<key>GCM_SENDER_ID</key>
	<string>74005243911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scertta.scerttaDriver</string>
	<key>PROJECT_ID</key>
	<string>scertta-f46ce</string>
	<key>STORAGE_BUCKET</key>
	<string>scertta-f46ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74005243911:ios:60c3bd18a4344d3c88e2a2</string>
</dict>
</plist>